@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	position: relative;
}

.img_Nex{
	position: fixed;
	width: 100px;
	padding: 0px;
	margin-left: 3%;
	margin-top: 1.5%
	
	}

.videoContainer{
	position: absolute;
	margin-left: 3%;
	margin-top: 11.7%;
}

.scritte{
	position: absolute;
	width: 550px;
	margin-top: 2%;
	margin-left: 57%;
}

.Title{
	color: red;
	margin-bottom: -22px;
}

.Sub_Titile{
	color: white
}

.vertical_line{
	position: absolute;
	border-color: red;
	margin-top: 2px;
	padding-left: 2px;
}

.text, .text_list{
	color: white;
	font-size: 12px;
	padding-left: 20px;
	line-height: 15.5px;
	font-weight: 280;
}

.span_1{
	color: red;
	font-weight: bold;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "-";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 9px;
  margin-left: 0em;
}

.all_down{
	

	margin-top: 30px;
}

.download{
    text-decoration: none;
	font-weight: bold;
	background-color: red;
	color: white;
	padding-top: 6px;
	padding-right: 9px;
	padding-bottom: 6px;
	padding-left: 9px;
	margin-left: 0px;
}

a:hover{
	opacity: 0.5;
}
